<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>




  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>


    <div class="container">
      <div class="row" data-hook>
        <%= spree_breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "row" : "col-sm-8 col-md-9" %>" data-hook>
          
      <br><br>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
  </body>
<br><br><br>
<footer id="htoo_footer">

  <div class="container"><br><br>
        <div class="col-md-4">
              <br>
              <h4 id="footer_header">About MIMIBERRY</h4><br>
              <h6><a href="/about_us" id="navli2">About Us</a></h6>
              <h6><a href="/contact" id="navli2">Contact Us</a></h6>
               <h6> <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true"
                  style="color:white;">
                </div>
              </h6>
        </div>
        <div class="col-md-4">
            <br>
              <h4 id="footer_header">HELP</h4><br>
              <h6>
                <a href="/return_policy" id="navli2">Returns Policy</a>
              </h6>
              <h6>
                <a href="/faq" id="navli2">Frequently Ask Questions</a>
              </h6>
              <h6>
                <a href="/delivery" id="navli2">Delivery Charges</a>
              </h6>
        </div>
        <div class="col-md-4">
          <br>
              <h4 id="footer_header">Coming soon!</h4><br>
              <h6> Mobile Apps  </h6>
              
             
        </div>
</div>

<br><br>

  <p style="text-align:center;">
         
      Copyright © 
      <script>document.write(new Date().getFullYear());</script> Online Clothing Store by 
      <a href="https://mimiberryclothing.com" target="_blank">
              <%=image_tag 'logo-02.png'%>
      </a>

  </p>



</footer>
  
</html>

  <%= stylesheet_link_tag 'htoo.css' %>
  <%= stylesheet_link_tag 'mobile_ui.css' %>



