<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <%= spree_breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "row" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
  </body>

<footer id="htoo_footer">

  <div class="container"><br><br>
        <div class="col-md-4">
           
              <h4 id="footer_header">CATEGORIES</h4><br>
              <h6>Casual Shirts </h6>
              <h6>Coats & Jackets</h6>
              <h6>Jeans & Pants</h6>
              <h6>Sports</h6>
             
        </div>
        <div class="col-md-4">
              <h4 id="footer_header">HELP</h4><br>
              <h6>Track Order</h6>
              <h6>Returns</h6>
              <h6>Shipping</h6>
              <h6>FAQs</h6>
        </div>
        <div class="col-md-4">
              <h4 id="footer_header">GET IN TOUCH</h4><br>
              <h6> Any questions? Let us know in office at  </h6>
              <h6> No.1200, Bogyote St, North dagon 37ward, </h6> 
              <h6> Yangon 11421, Myanmar or  </h6> 
              <h6> Call us on (+959) 79 55 45 748</h6>
        </div>
</div>

<br><br><br>
<div class="container" style="text-align:center;">
      <%=image_tag 'icon-pay-01.png'%>
      <%=image_tag 'icon-pay-02.png'%>
      <%=image_tag 'icon-pay-03.png'%>
      <%=image_tag 'icon-pay-04.png'%>
      <%=image_tag 'icon-pay-05.png'%>
</div><br>
 



  <p style="text-align:center;">
         
      Copyright © 
      <script>document.write(new Date().getFullYear());</script> All rights reserved | This store is made with 
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by 
      <a href="https://mimiberryclothing.com" target="_blank">
              <%=image_tag 'logo-02.png'%>
      </a>
  </p>


</footer>
  
</html>

  <%= stylesheet_link_tag 'htoo.css' %>

