<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <div>
    <% cache(taxon.present? ? [I18n.locale, current_currency, taxon, product] : cache_key_for_product(product)) do %>
      <div>
        <%= link_to url, itemprop: "url" do %>
          <%= product_image(product, itemprop: "image") %><br/>
       <p id="htoo_producttitle">
          <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
       </p>
        <% end %>
       
          <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            <span class="price selling lead" itemprop="price" content="<%= (product.price_in(current_currency).amount.nil?)? 0 : product.price_in(current_currency).amount.to_d %>">
              <p id="htoo_productprice">
              <%= display_price(product) %>
              </p>
            </span>
            <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
          </span>
    

        <br/>
      </div>
   
    <% end %>
  </div>
</div>




