<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>

<% if request.env['PATH_INFO'] == "/" %>

    <div id="product_<%= product.id %>" class="col-xs-6 col-md-3" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">

<% else %>

  <div id="product_<%= product.id %>" class="col-xs-6 col-md-4" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">

<% end %>



    <% cache(taxon.present? ? [I18n.locale, current_currency, taxon, product] : cache_key_for_product(product)) do %>
  
        <%= link_to url, itemprop: "url" do %>
        <div id="product_image_ok">
          <%= product_image(product, itemprop: "image",  id: 'product_image_ok') %><br/>
        </div>
       <p id="htoo_producttitle">
          <%= content_tag(:span, truncate(product.name, length: 30), class: 'info', itemprop: "name", title: product.name) %>
       </p>
        <% end %>
       
          <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            <span class="price selling lead" itemprop="price" content="<%= (product.price_in(current_currency).amount.nil?)? 0 : product.price_in(current_currency).amount.to_d %>">
              <p id="htoo_productprice">
              <%= display_price(product) %>
              </p>
            </span>
            <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
          </span>
  
  
    <% end %>

</div>




