<br><br><br><br><br><br>

<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= product_image(@product, itemprop: "image") %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>

  

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 itemprop="name" id="htoo_product_title"><%= @product.name %></h1>

     
          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
          <%= render partial: 'taxons' %>
        </div>
      </div>
    </div>
  </div>
<% end %>



<div class="panel panel-default">
  <div class="panel-body">
     <p id="product_desc"><br><br>
          <span id="product_desctlt">Description</span> 
          <span id="product_desctlt2">Additional information</span>
     </p>

     <div class="row">
          <div class="col-md-2"></div>
           <div class="col-md-8">
               <br>
               <p id="product_text_message" data-hook="description">
                  <%= product_description(@product) %>
               </p>

           </div>
           <div class="col-md-2"></div>

            <div class="col-md-4"></div>
           <div class="col-md-4">

                <table id="product-properties" style="width:100%;display: none;">
                  <tbody>
                    <% @product_properties.each do |product_property| %>
                      <% css_class = cycle('even', 'odd', name: "properties") %>
                      <tr>
                        <td id="productpro_desctlt"><%= product_property.property.presentation %></td>
                        <td id="productpro_desctlt"> <%= product_property.value %></td>
                      </tr>
                    <% end %>
                    <% reset_cycle('properties') %>
                  </tbody>
                </table>

           </div>
           <div class="col-md-4"></div>


      </div><br>
  </div>
</div>

    <div class="panel panel-default" style="background-color: #f5f5f0;">
          <div class="panel-body">
                <p id="sku_title"> SKU: <%= @product.sku %> , 
               Categories: <%= @product.category.name %>
                 </p>
          </div>
   </div>
   <br>

   <div class="col-md-12" style="height: 100px;">
     <p id="productrelate"> Related Products </p>
  </div>


     <div class="row">

          <div class="col-md-3">
                 <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                    </div>
                  </div>
          </div>
                    <div class="col-md-3">
                 <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                    </div>
                  </div>
          </div>
                    <div class="col-md-3">
                 <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                    </div>
                  </div>
          </div>
                    <div class="col-md-3">
                 <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>...</p>
                    </div>
                  </div>
          </div>
      
        
      </div>


<script type="text/javascript">
  


  //hide and show desc
$("#product_desctlt").click(function(){
  $("#product-properties").hide( "slow" );
  $("#product_text_message").show("slow" );
  $("#product_desctlt").css("color", "#333");
  $("#product_desctlt2").css("color", "#888");
});


  //hide and show desc
$("#product_desctlt2").click(function(){
  $("#product_text_message").hide("slow" );
  $("#product-properties").show( "slow" );
  $("#product_desctlt").css("color", "#888");
  $("#product_desctlt2").css("color", "#333");
});







</script>