<% @body_id = 'product-details' %>


<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part" id="product_showmobile">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= product_image(@product, itemprop: "image") %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>

  

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-7" data-hook="product_right_part" id="productmobile_detail">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h2 itemprop="name" id="htoo_product_title">
            <span id="procate">
              <%= @product.category.name %> 
            </span><br>
            <span id="proname">
              <%= @product.name %> 
            </span><br>
             <span id="proprice">
               <%= display_price(@product) %>
            </span><br>
               

           
      
          </h2> 

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>

          <br><h3> Delivery Notes </h3>

          <p id="delitext">

              ရန်ကုန်မြို့တွင်း အိမ်အရောက်ပို့ပေးတဲ့      
              Delivery Service ရှိပါတယ်ခင်ဗျာ။  <br>  
              အော်ဒါမှာပြီး 7ရက်ဝန်းကျင်နေရင်
              ပို့ပေးပါတယ်။ <br>
              ရန်ကုန်မြို့တွင်း
              အိမ်အရောက်ငွေချေစနစ်ပါ။    <br>
              ပို့ခကတော့ ဘယ်နှစ်ထည်မှာယူယူ     
              တစ်ကြောင်းစာပို့ခ
              ရန်ကုန်မြို့တွင်း ၂၅၀၀ကျပ် ပါ။
          </p>
        </div>

     
      </div>
    </div>

     <div class="col-md-4 col-sm-7" id="mobilecoupon">

      <table style="float: right;">

         <tr>
          <td id="stickclick1">
             <p id="disverti1"> 10% Discount </p>
          </td>
          <td id="stickbox1">
             <div class="sticky1">
                 <span id="tentitle"> 10% OFF </span>
                 <span id="tentitle2"> FOR NEW CUSTOMERS </span><br><br>
                 <span> can use coupon code </span><br>
                 <span id="cpcode"> WELCOME </span><br><br>
                 <span> to receive 10% discount for your first order. </span>
              </div><br>
          </td>
        </tr>

       
      </table><br><br><br><br><br><br><br><br><br><br><br>
<table style="float: right;">

       <tr>
          <td id="stickclick2">
              <p id="disverti2"> <b>FREE</b>  DELIVERY </p>
          </td>
          <td id="stickbox2">
            <div class="sticky2">
               <span id="tentitle2"> CUSTOMERS ADDRESS IN  </span>
               <span id="tentitle"> Yangon  </span><br><br>
               <span> can use coupon code </span><br>
               <span id="cpcode"> FOCDELI </span><br><br>
               <span> to receive delivery charges free when your purchase amount exceeded than 30000 kyats. </span>
            </div>
          </td>
        </tr>
        </table>
     
        
     </div>
  </div>
<% end %>

<br>

<div class="panel panel-default" id="mobileproduct_panel">
  <div class="panel-body">
     <p id="product_desc"><br><br>
          <span id="product_desctlt">Description</span> 
          <span id="product_desctlt2">Additional information</span>
     </p>

     <div class="row">
          <div class="col-md-2"></div>
           <div class="col-md-8">
               <br>
               <p id="product_text_message" data-hook="description">
                  <%= product_description(@product) %>
               </p>

           </div>
           <div class="col-md-2"></div>

            <div class="col-md-4"></div>
           <div class="col-md-4">

                <table id="product-properties" style="width:100%;display: none;">
                  <tbody>
                    <% @product_properties.each do |product_property| %>
                      <% css_class = cycle('even', 'odd', name: "properties") %>
                      <tr>
                        <td id="productpro_desctlt"><%= product_property.property.presentation %></td>
                        <td id="productpro_desctlt"> <%= product_property.value %></td>
                      </tr>
                    <% end %>
                    <% reset_cycle('properties') %>
                  </tbody>
                </table>

           </div>
           <div class="col-md-4"></div>


      </div><br>
  </div>
</div>

    <div class="panel panel-default" style="background-color: #f5f5f0;">
          <div class="panel-body">
                <p id="sku_title"> 
               Categories: <%= @product.category.name %>
                 </p>
          </div>
   </div>
   <br>

  




<script type="text/javascript">
  

  //hide and show desc
$("#product_desctlt").click(function(){
  $("#product-properties").hide( "slow" );
  $("#product_text_message").show("slow" );
  $("#product_desctlt").css("color", "#333");
  $("#product_desctlt2").css("color", "#888");
});


  //hide and show desc
$("#product_desctlt2").click(function(){
  $("#product_text_message").hide("slow" );
  $("#product-properties").show( "slow" );
  $("#product_desctlt").css("color", "#888");
  $("#product_desctlt2").css("color", "#333");
});


$(document).ready(function(){
    $('#stickbox1').css('display','none');
    $('#stickbox2').css('display','none');
});



$(document).scroll(function () {


    var y = $(this).scrollTop();
    if (y > 80) {
        $('#stickbox1').fadeOut();
        $('#stickbox2').fadeOut();
        $('#stickclick1').fadeIn();
        $('#stickclick2').fadeIn();
    } 

});



$("#stickclick1").click(function(){
  $("#stickbox1").show("slow");
  $("#stickclick1").hide();
});


$("#stickclick2").click(function(){
  $("#stickbox2").show("slow");
  $("#stickclick2").hide();
});








</script>