
<% @body_id = 'home-page' %>




<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
       <%=image_tag 'slide-02.jpg'%>
    </div>
    <div class="item">
         <%=image_tag 'slide-03.jpg'%>
    </div>
    <div class="item">
         <%=image_tag 'slide-04.jpg'%>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"  style="background: #eae9e5;">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"   style="background: #eae9e5;">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<div class="row" id="three_htoo_casual">
	<div class="col-md-4" id="htoo_casual">
		<div class="panel panel-default" id="style_cateback" >	
		  <div class="panel-body" id="style_catebackbody">
			  <p id="htoo_styleheader">Casual</p>
			  <p id="htoo_styletext"> &nbsp;Style 2020</p>
			  <p id="htoo_stylefooter_casual">SHOP NOW</p>
		  </div>
		</div> 
	</div>
	<div class="col-md-4" id="htoo_smart">
		<div class="panel panel-default" id="style_cateback" >	
		  <div class="panel-body" id="style_catebackbody">
			  <p id="htoo_styleheader">Smart</p>
			  <p id="htoo_styletext"> &nbsp;Style 2020</p>
			  <p id="htoo_stylefooter_smart">SHOP NOW</p>
		  </div>
		</div> 
	</div>
		<div class="col-md-4" id="htoo_elegant" >
		<div class="panel panel-default" id="style_cateback" >	
		  <div class="panel-body" id="style_catebackbody">
			  <p id="htoo_styleheader">Elegant</p>
			  <p id="htoo_styletext"> &nbsp;Style 2020</p>
			  <p id="htoo_stylefooter_elegant">SHOP NOW</p>
		  </div>
		</div> 
	</div>
</div>


<div id="mobileoverview">
<h3 id="htoo_producthead">PRODUCT OVERVIEW </h3>
<h5>
		<a href="#" class="htoo_subheadera">All Products</a>
		<a href="#" class="htoo_subheader">Women</a>
		<a href="#" class="htoo_subheader">Men</a>
		<a href="#" class="htoo_subheader">Bag</a>
		<a href="#" class="htoo_subheader">Shoes</a>
		<a href="#" class="htoo_subheader">Watches</a>

		<button type="button" class="btn btn-default" id="htoo_searchbtn">
  			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
		</button>

		<button type="button" class="btn btn-default" id="htoo_searchbtn2" style="display: none;">
  			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Search
		</button>

		<button type="button" class="btn btn-default" id="htoo_filterbtn">
  			<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
		</button>


		<button type="button" class="btn btn-default" id="htoo_filterbtn2" style="display: none;">
  			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Filter
		</button>

</h5>
</div>
<div class="row"  id="htoo_bigsearch">

  	<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
	<%= form_tag spree.products_path, method: :get, class: "col-lg-12" do %>
    <div class="input-group">
      <span class="input-group-btn" >
        	<button class="btn btn-default" type="button" style="height: 60px;border-right: none;">	
        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        	</button>
        
      </span>
      <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "form-control", style:"height: 60px;" %>
    </div><!-- /input-group -->
    <% end %>
 
</div><!-- /.row -->
<br>

<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
   <div class="col-md-12" id="htoo_bigfilter" data-hook> 

		   <% @taxonomies.each do |taxonomy| %>
		    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
		      <% if taxonomy.root.children.any? %>
				<div class="col-md-4">
					<ul class="list-group">
					  <li class="list-group-item">
					  	<p style="font-size:16px;font-weight: 900;"><%= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name) %></p>
					  </li>
					  <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
					</ul>
				</div>
			  <% end %>
		  <% end %>
		<% end %>

		<div class="col-md-4">
					<p style="font-size:16px;font-weight: 900;">
						Tags
					</p>
		</div>

	<br>
</div>



<div style="height: 55px;"></div>
<div class="row" >

<div data-hook="homepage_products" id="mobileproduct_div">
	
		 

  <% cache(cache_key_for_products) do %>
   <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>


</div>




<script type="text/javascript">
//search btn func	
$("#htoo_searchbtn").click(function(){

  $("#htoo_searchbtn").hide();
  $("#htoo_searchbtn2").show();
  $("#htoo_bigsearch").show( "slow" );
});



$("#htoo_searchbtn2").click(function(){

  $("#htoo_searchbtn2").hide();
  $("#htoo_searchbtn").show();
  $("#htoo_bigsearch").hide( "slow" );
});




//filter btn func	




$("#htoo_filterbtn").click(function(){

  $("#htoo_filterbtn").hide();
  $("#htoo_filterbtn2").show();
  $("#htoo_bigfilter").show( "slow" );
});



$("#htoo_filterbtn2").click(function(){

  $("#htoo_filterbtn2").hide();
  $("#htoo_filterbtn").show();
  $("#htoo_bigfilter").hide( "slow" );
});

// on hover



$("#htoo_casual").mouseover(function(){
     $("#htoo_stylefooter_casual").fadeIn();
 });

 $("#htoo_casual").mouseleave(function(){
      $("#htoo_stylefooter_casual").fadeOut();
  });




$("#htoo_smart").mouseover(function(){
     $("#htoo_stylefooter_smart").fadeIn();
 });

 $("#htoo_smart").mouseleave(function(){
      $("#htoo_stylefooter_smart").fadeOut();
  });



$("#htoo_elegant").mouseover(function(){
     $("#htoo_stylefooter_elegant").fadeIn();
 });

 $("#htoo_elegant").mouseleave(function(){
      $("#htoo_stylefooter_elegant").fadeOut();
  });




</script>


<style type="text/css">
	
.list-group .list-group-item{
		background-color: #f5f5f5;
		border-color: none;
		border-style: none;
		margin-top: -10px;
		  text-decoration: none;
		
	}



</style>