<% address_id = address_type.chars.first %>

<div class="inner" data-hook=<%="#{address_type}_inner" %>>
 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4" id=<%="#{address_id}firstname" %>>First Name</label>
      <%= form.text_field :firstname, class: 'form-control', required: true %>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" id=<%="#{address_id}lastname" %>>Last Name</label>
      <%= form.text_field :lastname, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <label for="inputAddress" id=<%="#{address_id}zipcode" %>>Address</label>
    <%= form.text_field :address1, class: 'form-control required' %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone" id=<%="#{address_id}phone" %>>Phone 1</label>
        <%= form.phone_field :phone, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-md-6">
        <label for="inputPhone" id=<%="#{address_id}altphone" %>>Phone 2</label>
         <%= form.phone_field :alternative_phone, class: 'form-control' %>
    </div>
    
  </div>
  
  <div class="form-row">

  <div class="form-group col-md-6">
    <label for="inputAddress2" id=<%="#{address_id}address2" %>>Township</label>
      <%= form.text_field :address2, class: 'form-control' %>
  </div>


   <div class="form-group col-md-6">
      <label for="inputCity" id=<%="#{address_id}city" %>>City</label>
      <%= form.text_field :city, class: 'form-control', required: true %>
  </div>


</div>


<p class="form-group" style="display: none;">
    <%= form.text_field :zipcode, class: 'form-control', :value => 11181 %>
    <%= form.text_field :state_id, class: 'form-control', :value => 2090 %>
    <%= form.text_field :country_id, class: 'form-control', :value => 146 %>
</p>


</div>