<% address_id = address_type.chars.first %>

<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="form-group" id=<%="#{address_id}firstname" %>>
   
  </p>
  <p class="form-group" id=<%="#{address_id}lastname" %>>
  
    <%= form.select :firstname, ["Ko","Ma","Daw","U"] %>
    Full Name (နာမည် အပြည့်အစုံ)
    <%= form.text_field :lastname, class: 'form-control', required: true %>
  </p>

  <p class="form-group" id=<%="#{address_id}address1" %>>
    Street (လမ်းအမည်)
    <%= form.text_field :address1, class: 'form-control required' %>
  </p>
  <p class="form-group" id=<%="#{address_id}address2" %>>
     Detail Address (အနီးအနားရှိထင်ရှားသည့် နေရာများ)
    <%= form.text_field :address2, class: 'form-control' %>
  </p>
  <p class="form-group" id=<%="#{address_id}city" %>>
    Township (မြို့နယ်)
    <%= form.text_field :city, class: 'form-control', required: true %>
  </p>
  <p class="form-group"  style="display:none;" id=<%="#{address_id}country" %> >
    <%= form.label :country_id do %>
      <%= Spree.t(:country) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <span id=<%="#{address_id}country-selection" %>>
     <%= form.text_field :country_id, class: 'form-control', :value => 146 %>
    </span>
  </p>


  <p class="form-group" style="display: none;"> id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode do %>
      <%= Spree.t(:zip) %><% if address.require_zipcode? %><abbr class="required" title="required">*</abbr><% end %>
    <% end %>
       <%= form.text_field :zipcode, class: 'form-control', :value => 11181 %>
  </p>

  <p class="form-group" id=<%="#{address_id}phone" %>>
    Phone  For example 09 795545748, 01 572993
    <%= form.phone_field :phone, class: 'form-control', required: address.require_phone? %>
  </p>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <p class="form-group" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %>
      <%= form.phone_field :alternative_phone, class: 'form-control' %>
    </p>
  <% end %>
</div>
